#logo {                     
                            height: 10vh;
                            width: 10vh;
                            border-radius: 45px;}

#ElFoot {                   margin-top: 5vh}

#instagram {                width: 7vh; 
                            margin-bottom: 3.6vh; margin-left: 3vh;}



@media (min-width: 700px) /*Web PC*/
{
        #ElFoot{            position: relative;
                            bottom: 0;
                            width: 100vw; }

        #contenedorUno{     display: flex;
                            align-items: center;
                            justify-content: center;}

        #instagram{         width: 3vh;
                            margin-left: 1.5vh;}
}