#logo {
    height: 10vh;
    width: 10vh;
    border-radius: 45px;
}

#size_carrousel {
    height: 60vh;
    width: 60vh;
}


@media (min-width: 700px)
{
    #ElFoot {position: absolute;
            bottom: 0;
            width: 100vw;
   
    }
}
